.transitionY {
  transform: translateY(-75px);
  transition: transform 0.4s ease-in;
}
.transition-Y {
  transform: translateY(200px);
  transition: transform 0.4s ease-in;
}
.transitionmin2-Y {
  transform: translateY(-75px);
  transition: transform 0.4s ease-in;
}
.transitionmin-Y {
  transform: translateY(-75px);
  transition: transform 0.4s ease-in;
}
