.bodyConnexion {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bg_1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body h1 {
  text-align: center;
  margin: 0;
  font-family: "Fascinate", cursive;
  font-size: 50px;
  color: rgb(63, 221, 143);
}
body h2 {
  margin: 0;
}
.present {
  margin: auto 0;
  z-index: 2;
}
.slogan {
  color: rgb(255, 255, 255);
}
.compte {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.compte button {
  margin: 0 20px;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(60, 60, 60, 0.7);
  z-index: 1;
}
.btn-primary {
  background-color: rgb(63, 221, 143);
  border-color: rgb(63, 221, 143);
}
.btn-primary:hover {
  background-color: rgb(58, 168, 113);
  border-color: rgb(58, 168, 113);
}
fieldset {
  border: solid white 2px;
  border-radius: 3px;
  padding: 10px 20px 15px 20px;
}
legend {
  text-align: center;
  width: auto;
  color: white;
}
#login {
  margin-bottom: 15px;
}
#password {
  margin-bottom: 15px;
}
#permission{
  margin-bottom: 15px;
  text-align: center;
}
.btnConnexionF {
  background-color: rgb(63, 221, 143);
  border: none;
}
.btnConnexionF:hover {
  color: white;
  background-color: rgb(58, 168, 113);
}
i {
  color: white;
}
.fas:hover {
  cursor: pointer;
}
.logo {
  width: 100px;
}
.recherche_p {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recherche-barr {
  margin-bottom: auto;
  margin-top: auto;
  background-color: rgb(58, 168, 113);
  border-radius: 5px;
}
.recherche-input {
  border: 0;
  line-height: 37px;
  padding: 0 10px;
  width: 400px;
  border-radius: 2px;
}
.recherche-icone {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.navbar-brand {
  margin: 0 0 0 0;
}
.stages {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  display: flex;
}
.stage {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  text-align: center;
  border: black 3px solid;
  color: black;
}
.stage i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: black;
}
a.nav-link {
  position: relative;
}
a.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(58, 168, 113);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.nav-link:hover:before {
  visibility: visible;
  width: 100%;
}
.col-md-8 {
  border: black 3px solid;
  height: 500px;
  border-radius: 25px;
}
.col-md-3 {
  border: black 3px solid;
  height: 500px;
  border-radius: 25px;
  text-align: center;
}
.nav-item {
  padding-right: 5px;
}
.labelPermission{
  color: white;
}
.btnInscription{
  background-color: rgb(63, 221, 143);
  border-color: rgb(63, 221, 143);
}
.btnInscription:hover{
  background-color: rgb(58, 168, 113);
  border-color: rgb(58, 168, 113);
  color: white;
}
.textBox{
  margin-bottom: 15px;
}